<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>info</h1>
    <ul>
        <li >
            <h3 >Argumentos de Entrada</h3>
            <p><%=arguments%></p>
        </li>
        <li >
            <h3 >Plataforma</h3>
            <p><%=system%></p> 
        </li>
        <li >
            <h3 >Versión de NodeJS</h3>
            <p><%=version%></p> 
        </li>
        <li >
            <h3 >Memoria Total Reservada</h3>
            <p><%=memory%></p> 
        </li>
        <li >
            <h3 >Path de Ejecución</h3>
            <p><%=path%></p> 
        </li>
        <li >
            <h3 >Process ID</h3>
            <p><%=id%></p> 
        </li>
        <li >
            <h3 >Carpeta del Proyeto</h3>
            <p><%=folder%></p> 
        </li>
    </ul>
</body>
</html>